.map{
    display: table-row;
    height: auto;
}
.map-info{ 
    display: table-row;
    height: 20vh;
    text-align: center;
    white-space: normal;
    margin:0;
    padding:0;
} 
#ceremony{

    left:0;
}
#dinner{
    right:0;
    
}
.map-container{
    display: table;
    color: black;
    padding: 4vh;
}