.map{
    display: table-row;
    height: auto;
}
.map-info{ 
    display: table-row;
    height: 20vh;
    text-align: center;
    white-space: normal;
    margin:0;
    padding:0;
} 
#ceremony{

    left:0;
}
#dinner{
    right:0;
    
}
.map-container{
    display: table;
    color: black;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
}
@media only screen and (max-width: 800px) {
  .map-container{
    padding-bottom: 3em;
    padding-right: 4vh;
    padding-left: 4vh;
}  
}