
  
  @keyframes rotateAnimation {
      0%   {transform: rotate(0deg);}
      100% {transform: rotate(360deg);}
  }
  @-webkit-keyframes wk-rotateAnimation {
      0%   {-webkit-transform: rotate(0deg);}
      100% {-webkit-transform: rotate(360deg);}
  }
.radioButton{
    display: block;
}
form input[type="text"], 
form input[type="number"],
form input[type="email"],
form textarea,
form input[type="submit"],
#sendNew{
    padding: .3em 2%;
    margin-bottom: 1em;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border: none;
    
    font-size: larger;
    
}
form input[type="text"], 
form input[type="number"],
form input[type="email"],
form textarea {
    border-bottom: 2px solid #999;
}
form input[type="text"], 
form input[type="number"],
form input[type="email"],
form input[type="tel"],
form textarea{
    background-color: inherit;
}


form input[type="submit"]:hover, #sendNew:hover, .giftlistRegistrerButton:hover{
    background-color: black;
    transform: scale(1.01);
}
form input[type="submit"]:active, #sendNew:active, .giftlistRegistrerButton:active{
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.2) !important;
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.2) !important;
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.2) !important;
}
.container form div{
    position: relative;
}
.container form div .infoLabel{
    position: absolute;
    top: .5em;
    pointer-events: none;
    left: 2%;
    font-size: larger;
    color: #999;
    transition: 0.5s ease;
}
form input:focus ~ .infoLabel,
form input:required:valid ~ .infoLabel,
form input:not(:required):not(:placeholder-shown) ~ .infoLabel,
form textarea:focus ~ .infoLabel,
form textarea:valid ~ .infoLabel
{
    top: -.7em;
    left: 1%;
    font-size: medium;
    font-weight: bold;
    color: black;
}
form input[type="text"]:focus,
form input[type="text"]:required:valid,
form input[type="number"]:focus,
form input[type="tel"]:focus,
form input[type="email"]:focus,
form textarea:focus, 
form input[type="number"]:required:valid,
form input[type="email"]:required:valid,
form input[type="tel"]:required:valid,
form input[type="text"]:not(:required):not(:placeholder-shown),
form textarea:valid{
    border-bottom: 2px solid black;
}
form input::placeholder{
    color: transparent;
}
.container .radioDiv{
    margin-bottom: 1em;
    font-size: larger;
}
.container .radioDiv .radioLabel{
    margin-left: 0.2em;
 
}
form input[type="submit"] , #sendNew,.giftlistRegistrerButton{
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1) !important;
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1) !important;
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1) !important;
    cursor: pointer;
    transition: 0.2s ease;
    height: 3.5em;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.822);
    color: whitesmoke;
}
form input[type="submit"], #sendNew,.giftlistRegistrerButton{
    border: 1px solid rgba(0,0,0,0.1);
}

/* #form> h1, #form h2 {
    margin: 0px;
    padding: 0px;
} */

.loading{
    font-size:0 !important ;
    width:30px !important;
    height:30px !important;
    margin-top:5px ;
    border-radius:15px;
    padding:0 !important;
    border:3px solid #000000 !important;
    border-bottom:3px solid rgba(0, 0, 0, 0) !important;
    border-left:3px solid rgba(0, 0, 0, 0) !important;
    background-color:transparent !important;
    animation-name: rotateAnimation ;
    -webkit-animation-name: wk-rotateAnimation;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    margin-left: calc(50% - 15px);
    margin-left: -moz-calc(50% - 15px);
    margin-left: -webkit-calc(50%-15px);
  }
  .paddingLoading {
      margin-bottom: 2.5em;
  }
@media only screen and (max-width: 1279px) {

}

