.container {
    position: absolute;
    height: 100%;
    min-height:100%;
    overflow: auto;
    width: 50vw;
    padding: 4vh;
    background-color: white;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    box-sizing: border-box;
    font-size: large;
    display: table;
    padding-top:90px
}
#registration, #toastmaster {
    padding-top:15vh; 
}
.iframeMap{
    min-height: 250px;
    height: 100%;
    min-width: 100%;
    
}
@media only screen and (max-width: 1500px) {
 
    .container{
        padding-top:90px !important; 
        font-size: medium
    }
}
@media only screen and (max-width: 1279px) {
    .container{
        top:0;
        padding-top: 60px !important;
    }
}
@media only screen and (max-width: 800px) {
    .container{
        width: 100%;
        margin: 0;
        padding: 4vw;
        /* padding-top:60px; */
        /* font-size: small; */
      
    }
    .pageimg {
        display: none;
    }
    .container> .container-info, .container>div>iframe{
        position: relative !important;
        width:100% !important;
    }

}
 @media only screen and (max-width: 500px) {
    .container{
        padding-top: 45px !important;
    }

}
/*
@media only screen and (max-width: 350px) {
    .container{
        font-size: x-small;
    }
} */