#giftlist input[type="number"], 
#giftlist input[type="number"]:focus,
#giftlist input[type="number"]:valid{
    text-align: center;
    height: 1.5em;
    border-radius: 0em;
    border: 1px;
    border-color: black;
    border-style: solid;
    width: 2em;
}

input::-webkit-inner-spin-button {
    opacity: 1;
}
.popup {
    display: none;
    position: absolute !important;
    height:auto;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: khaki;
    z-index: 10;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    padding: 2%;
}
#giftlistContainer{
    width:100%;
}
#giftlist table{
    width: 100%;
}
#giftlist {
    padding-top: 1em;
}
#giftlist td{
    width:15%;
}
#giftlist th{
    text-align:left;
}
.giftName{
    width: 30%;
    cursor: pointer;
    color: #1a0dab;
    text-decoration: underline;
    border-radius: 0;

}
#sortGiftList {
    height: 2em;
    border: none;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);

}
.giftlistImg {
    height: 70px;
    margin: 0;
    padding: 0;
    display: block;
}
.giftPicture {
    padding:0;
    margin: 0;
}
.giftListSmallScreen {
    display: none;
}
#giftlist input[type="number"]::-webkit-outer-spin-button,
#giftlist input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    opacity: 1;
}

    /* Firefox */
#gitlist input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}
@media only screen and (min-width: 601px) {
    .giftlistRegistrerButton {
        height: 68px;
    }
}
@media only screen and (max-width: 600px) {
    #giftListHeader{
        display: none !important;
    }
    #giftlist tr{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: -ms-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-bottom: 1em;
    }
 
  
    .giftlistPrice::before{
        content: "Pris:";
        font-weight: bold;
        
    }
    
    .giftlistStore::before{
        content: "Butikk:";
        font-weight: bold;
        
    }
    .giftlistWish::before{
        content: "Ønsket:";
        font-weight: bold;
        
    }
    .giftlistBought::before{
        content: "Kjøpt:";
        font-weight: bold;
        
    }
    .giftlistRemaining::before{
        content: "Gjenstår:";
        font-weight: bold;
        
    }
    .giftlistNumber::before{
        content: "Antall:";
        font-weight: bold;   
    }
    .giftlistElement{
        width: 100% !important;
        flex: 0 1 auto;
        display: flex;
        order: 5;
        padding-top: 0.5em;
        
    }
    .giftlistElement::before{
        display: inline-block;
        vertical-align: middle;
        margin-right: 14px;
        min-width: 100px;
        text-align: left;
    }
    #giftlistContainer {
        font-size: medium;
    }
    #giftlist tr{
        padding-left: 1em;
        padding-right: 1em;
    }
    .giftName{
        flex: 0 1 100px;
        order: 1;
        font-size: larger;
        font-weight: bolder;
        align-self: center;
    }
    .giftPicture {
        order: 2;
        flex: 0 1 45%;
    }
    .giftlistRegistrerButton{
        width: 147px;
    }
    
        
}