.item:hover{
	cursor: pointer;
}
#picture {
    position: absolute;
    top:85px;
	display: flex;
	overflow: hidden;
	flex-wrap: wrap;
	
}
#picture:after {
	content: '';
	flex-grow: 999999999;
	min-width: 300px;
	height: 0;
}

#picture > * {
	position: relative;
	display: block;
	height: 300px;
	margin: 2.5px;
    flex-grow: 1;
    padding:0;
    overflow:hidden;
}

#picture > * > img {
    position: relative;
	display: block;
	margin: 0;
    flex-grow: 1;
    padding:0;
	height: 300px;
	object-fit: cover;
	max-width: 100%;
    min-width: 100%;
	image-orientation: none;	
}
#slideshow{
	position:fixed;
	z-index: -1;
	height: 100vh;
	background-color: black;
	width: 100vw;
	display: none;	
}
#slideshow>img{
	position: absolute;
	object-fit: contain;
	height: 100vh;
	width: 100vw;
	display:none;
	
}
#slideshow>i{
	position: fixed;
	right: 0;
	top:0;
	color: white;
	font-size: 36px !important;
	z-index: 6;
}
#slideshow #slideshowControl{
	position: relative;
	color: white;
	background-color: black;
	opacity: 50%;
	padding-left: 2em;
	padding-right:2em;
	border-radius: 4px;
}
#slideFlex{
	position: fixed;
	bottom: 10vh;
	z-index: 6;
	width:100%;
	justify-content: center;
	display: flex
}
#slideshow #slideshowControl>i{
	position: relative;
	display: inline-block !important;
	color: white;
	font-size: 72px !important;
}

.activeImg{
	display: block !important;
}

@media only screen and (max-width: 1279px){
    #picture{
        top:0;
	}
	
}
@media only screen and (max-width: 350px){
	#slideshow #slideshowControl>i{
		font-size: 48px !important;
	}
	
}
