#picture {
    display: flex;
    flex-wrap: wrap;
    padding: 2px;
    margin:0;
    position: absolute;
    top:100px;
    width:80%;
    left:50%;
    transform: translateX(-50%);
    background-color: lightgoldenrodyellow;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 24%;
    max-width: 24%;
    padding: 0 5px;
    margin:0;
    justify-content: space-between;
  }
  .column a{
      margin:0;
      padding:0;
      padding: 5px;
  }
  .column img {
    margin:0;
    
    vertical-align: middle;
    width: 100%;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    
  }
  
  @media screen and (min-width: 1800px) {
    .column {
      flex: 19%;
      max-width: 19%;
    }
  }
  @media screen and (max-width: 1279px) {
    .column {
      flex: 32%;
      max-width: 32%;
    }
    #picture{
        top: 5px;
        width:100%;
        background-color: initial;
    }
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 48%;
      max-width: 48%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
