#toastmaster{   
    height:100%;
    width: 100%;
    padding-left:5%;
    padding-right: 5%;
    padding-bottom: 1px;
}

/* #toastmaster>*:not(.popup){
    position: relative;
    display: block;  
} */

#toastmaster> h2{
    text-align: center;
    
}

#toastmaster-table{
    width: 100%;
    display: table !important;
    border-spacing: 12vw 0px;
    /* border-collapse: collapse; */
    table-layout: fixed;
}

.toastmaster-info{  
     
    /* padding:1%;
    padding-top:1%;
    padding-bottom: 1%;
    margin-top:2%; */
    /* margin-right: 50%;
    margin-left: 50%; */
    margin-left: 10%;
    margin-right: 10%;
    background-color: khaki;
    display: table-cell !important;
    /* border-radius: 10px; */
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    
} 

.toastmaster-name{
    display: inline-block;
    vertical-align:top;
    width: 100%;
    
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.toastmaster-name > p {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0%;
    margin-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
}
.toastmaster-info>*{
    margin: 2%;
}

.toastmaster-img{
    position: relative;
    /* margin-left:25%; */
    
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 70%;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    /* border: 1px solid rgba(0,0,0,0.1); */
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
    /* border-radius: 50%; */
}
#toastmasterfemale{
    background-image: url(../background-images/kristin.jpg);
}
#toastmastermale{
    background-image: url(../background-images/torleiv-f-2020.png);
    background-position-y: 20%;
}


#toastmaster-contact-button{
    position: relative;
    padding-left: 3em;
    padding-right: 3em;
    height: 4em;
    /* border-radius: 2em; */
    border: none;
    left: 50%;
    margin-bottom: 4px;
    transform: translate(-50%);
    display: block;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    background-color: khaki;
    transition: 0.2s ease;
    transform-origin: left;  
    top:10px; 
}
#toastmaster-contact-button:hover{
    transform: scale(1.1) translate(-50%);
}
#toastmaster-contact-form{
    
    background-color: white;
    -webkit-box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 15px 30px -10px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px -10px rgba(0,0,0,0.1);
    left:50%;
    transform: translateX(-50%);
    top: 100px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2vh;
    display: none;
    position: absolute;
    margin-bottom: 2vh;
    z-index: 5; 
    
}
#overlay{
    position: absolute;
    margin: 0;
    padding: 0;
    left:0;
    top:0;
    height: inherit;
    width:100%;
    z-index: -1
}
@media only screen and (max-width: 1500px) {
    #toastmaster h1, #toastmaster h2, #toastmaster h3 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 1279px) {
    #toastmaster-contact-form{
        top:50px;
    }
    /* .toastmaster-img{
        padding-bottom: 50%;
        width: 50%;
    } */
}
@media only screen and (max-width: 800px) {
    #toastmaster-contact-form{
        width: 70%;
        
    }
}
@media only screen and (max-width: 600px) {
    
    #toastmaster{
        padding-top:0 !important;
        
    }
    #toastmaster-table{
        display: block !important;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .toastmaster-info{
        display: block !important;
        width: 60%;
        margin:0;
        margin-left:20%;

        /* align-items: center;
        align-content: center; */
       
    }
    #toastmaster-right{
        margin-top: 10px !important;   
    }
    .toastmaster-img{
        padding-bottom: 60%;
    }/*
    .toastmaster-info>*{
        display: block;
    }
    #toastmaster-table{
        border-spacing: 0px;
    }*/
    /* .toastmaster-img{
        padding-bottom: 75%;
    }  */
    #toastmaster form div .infoLabel {
        font-size: medium;
        top: .7em;
    }
    #toastmaster form input:focus ~ .infoLabel,
    #toastmaster form input:required:valid ~ .infoLabel,
    #toastmaster form input:not(:required):not(:placeholder-shown) ~ .infoLabel,
    #toastmaster form textarea:focus ~ .infoLabel,
    #toastmaster form textarea:valid ~ .infoLabel{
        top: -.7em;
        left: 1%;
        font-size: small;
        font-weight: bold;
        color: black;
    }
    @media only screen and (min-height: 667px){
        .toastmaster-info{
            width: 80%;
            margin-left:10%;
    
            /* align-items: center;
            align-content: center; */
           
        }
    }
}

@media only screen and (max-width: 350px) {
    .toastmaster-name > p{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    /* #toastmaster form div .infoLabel{
        font-size: 14px;
        top: .9em;
    }
    #toastmaster form input:focus ~ .infoLabel,
    #toastmaster form input:required:valid ~ .infoLabel,
    #toastmaster form input:not(:required):not(:placeholder-shown) ~ .infoLabel,
    #toastmaster form textarea:focus ~ .infoLabel,
    #toastmaster form textarea:valid ~ .infoLabel{
        top: -.7em;
        left: 1%;
        font-size: 12px;
    } */
}